.home_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-transform: lowercase;
}

.home_container div {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

.home_container h1 {
    font-size: 4em;
    margin-bottom: 1em;
}

.home_container h1 span {
    padding: 5px;
    border-radius: 10px;
    background-color: #222;
    color: #ffbb33;
}

.home_container p {
    color: #8f8f8f;
    margin-bottom: 1.5em;
}

.button {
    padding: 1em;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    background-color: #222;
    transition: .3s;
}

.button:hover {
    transition: .5s;
    color: #222;
    background-color: #ffbb33;
    box-shadow: 0 10px 20px 0 #22222240;
    transform: scale(1.1);
}

.img {
    width: 600px;
}